name: Main

on:
  push:
    branches:
      - "*"
    tags:
      - "*"
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref }}

jobs:
  validate:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:latest
        ports:
          - 6379:6379
    strategy:
      matrix:
        node: [16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
    steps:
      - uses: actions/checkout@v6
      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - name: Run Install
        run: npm install
      - name: Run Check
        run: npm run check
      - name: Run Test
        run: npm test
  publish:
    needs: validate
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 25
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: npm publish --access public
